- model_class = User
.page-header
  %h1= "Dashboard"

.row
  .col-md-4
    .alert.alert-dissmissable.alert-success
      %h2 最新の資産修正
      %p.lead= @user.property.to_s + "円"
      - unless @user.property_fix_histories.empty?
        %p= "（最終更新：#{@user.property_fix_histories.last.created_at.strftime("%Y-%m-%d")} ）"
  .col-md-4
    .alert.alert-dissmissable.alert-success
      %h2 今月の支出予定
      %table.table.table-bordered
        %tbody
          %tr
            %th 収入
            %td= @monthly_sum_income.to_s + "円"
          %tr
            %th 支出
            %td= @monthly_sum_expense.to_s + "円"
          %tr
            %th 合計
            %td= (@monthly_sum_expense + @monthly_sum_income).to_s + "円"
          %tr
            %th 残高見込
            %td= @expected_balance.to_s + "円"

.row
  %h3= "#{Date.today.month}月の収支計画"
  .col-md-12
    = high_chart("sample", @graph)
  .col-md-12
    %table.table.table-bordered
      %tbody
        %tr
          %th 計画日
          %th 定期
          %th カテゴリ
          %th 詳細
          %th 金額
          %th 小計
          %th 残高

        - (@s_date..@e_date).each do |date|
          - if @history[date] && (h = @history[date].first)
            %tr.danger
              %td= date.strftime("%m/%d (%a)")
              %td(colspan=3) 残高修正
              %td= h.new_property
              %td -
              %td= h.new_property

          - plans = @plans[date] || []
          - regular_plans = @regular_plans[date] || []
          - appended = plans + regular_plans

          - [appended.first].compact.each do |plan|
            %tr
              %td(rowspan="#{plans.count + regular_plans.count}" vertical-align="middle")= date.strftime("%m/%d (%a)")

              %td= plan.interval
              %td= plan.category.name
              %td= plan.description
              - if (amount = plan.amount) > 0
                %td.text-info 
                  %span.glyphicon.glyphicon-plus
                  %strong= amount.abs
                  円
              - else
                %td.text-danger
                  %span.glyphicon.glyphicon-minus
                  %strong= amount.abs
                  円
              - if transition = @balance_transition[date]
                - balance, sum_income, sum_expense = *transition
                - sum = sum_income + sum_expense
                // 小計
                - if sum > 0
                  %td.text-info(rowspan="#{plans.count + regular_plans.count}")
                    %span.glyphicon.glyphicon-plus
                    %strong= sum.abs
                    円
                - else
                  %td.text-danger(rowspan="#{plans.count + regular_plans.count}")
                    %span.glyphicon.glyphicon-minus
                    %strong= sum.abs
                    円
                // 残高
                %td(rowspan="#{plans.count + regular_plans.count}")
                  - if balance
                    %strong= balance
                    円
                  - else
                    %strong -
              - else
                %td
                %td

          - (appended[1..-1] || []).each do |plan|
            %tr
              %td= plan.interval
              %td= plan.category.name
              - if plan.amount > 0
                %td.text-info 
                  %span.glyphicon.glyphicon-plus
                  %strong= plan.amount
                  円
              - else
                %td.text-danger
                  %span.glyphicon.glyphicon-minus
                  %strong= plan.amount.abs
                  円
            

%h3 Property fix histories
%table
  %tr
    %th Fixed at
    %th New property
  - @user.property_fix_histories.each do |history|
    %tr
      %th= history.created_at
      %th= history.new_property
  
// = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-default'
// = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-default'
// = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

