= form_for @regular_plan, url: {controller: :regular_plans, action: @regular_plan.persisted? ? :update : :create}, html: { class: "form-horizontal"} do |f|
  .form-group
    %label.col-lg-2.control-label カテゴリ
    .col-sm-6
      = f.select :category_id, @selector_options, {}, {class: 'form-control'}
  .form-group
    %label.col-lg-2.control-label 金額
    .col-sm-6
      = f.text_field :amount, class: 'form-control', required: true
      = error_span(@regular_plan[:amount])
  .form-group
    %label.col-lg-2.control-label 開始日／間隔／終了日
    .col-sm-2
      = f.text_field :start_date, class: 'form-control', required: true, id: "picker_start_date"
    .col-sm-1
      %p から
    .col-sm-2
      = f.text_field :end_date, class: 'form-control', required: false, id: "picker_end_date"
    .col-sm-1
      %p まで
    .col-sm-2
      = f.select :kind, @kind_selector_options, {}, {class: 'form-control'}
      = error_span(@regular_plan[:planned_at])

  .actions
    = f.submit 'Save', class: "btn btn-primary"
