= form_for @plan, url: {controller: :plans, action: @plan.persisted? ? :update : :create}, html: { class: "form-horizontal"} do |f|
  .form-group
    %label.col-lg-2.control-label カテゴリ
    .col-sm-6
      = f.select :category_id, @selector_options, {}, {class: 'form-control'}
  .form-group
    %label.col-lg-2.control-label 金額
    .col-sm-6
      = f.text_field :amount, class: 'form-control', required: true
      = error_span(@plan[:amount])
  .form-group
    %label.col-lg-2.control-label 計画日
    .col-sm-6
      = f.text_field :planned_at, class: 'form-control', required: true, id: "picker_planned_at"
      = error_span(@plan[:planned_at])

  = f.submit @plan.persisted? ? "更新" : "作成", class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), dashboard_user_path, :class => 'btn btn-default'
