- model_class = Plan

.page-header
  %h1 収支計画一覧

%ul.nav.nav-tabs
  %li(class="#{@filter == "all"    ? "active" : ""}")= link_to("すべて", {})
  %li(class="#{@filter == "income" ? "active" : ""}")= link_to("収入", {filter: "income"})
  %li(class="#{@filter == "expense" ? "active" : ""}")= link_to("支出", {filter: "expense"})

%table.table.table-striped
  %tbody
    %tr
      %th 計画日
      %th カテゴリ
      %th 詳細
      %th 収支計画
      %th 
      %th 
    - @plans.each do |plan|
      %tr
        %td= plan.planned_at
        %td= plan.category.name
        %td= plan.description
        - if plan.amount > 0
          %td.text-info 
            %strong= plan.amount
            円
        - else
          %td.text-danger
            %strong= plan.amount
            円
        %td= link_to("編集", edit_user_plan_path(plan), class: "btn btn-default btn-xs")
        %td= link_to("削除", user_plan_path(plan), method: :delete, data: {confirm: "Are you sure to delete?"}, class: "btn btn-danger btn-xs")

=link_to("New", new_user_plan_path)
// = link_to t('.edit', :default => t("helpers.links.edit")), edit_plan_path(plan), :class => 'btn btn-default btn-xs'
// = link_to t('.destroy', :default => t("helpers.links.destroy")), plan_path(plan), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
// 
// = link_to t('.new', :default => t("helpers.links.new")), new_plan_path, :class => 'btn btn-primary'
